<ng-container *ngIf="toggel; else ngTemplate">
  <h2>Toggle is On</h2>
</ng-container>
<ng-template #ngTemplate>
  <h2>Toggle is off</h2>
</ng-template>
<button (click)="onToggle()">Toggle</button>

<div class="head">
  Status:
  <input type="text" [(ngModel)]="info.title" />
  Name:
  <input type="text" [(ngModel)]="info.name" />
</div>
<button (click)="show()">Click to Toggle Text</button><br />

<div [hidden]="info.display" class="hide">
  <p>Hello</p>
</div>
<div class="two way">
  Age:
  <input type="number" [(ngModel)]="info.age" />
  Info:
  <input type="text" [(ngModel)]="info.info" />
</div>

<h1 *ngIf="sale">{{sale | titlecase}}</h1>
<button [disabled]="info.age < 18? true : false ">Like</button>
<hr />
<app-single-slot-projection
  *ngIf="toDestroy"
  [person]="info"
  [name]="name"
  (product)="addProduct($event)"
  [test]="changePractice"
>
  <p #temp>Hello Content Projection</p></app-single-slot-projection
><br /><br />
<button (click)="destroy()">Destroy/Show</button>
<hr />

<div class="product" *ngIf="product()">
  <h1>Product: {{product().category}}</h1>
  <h3><span>Title: </span>{{product().title}}</h3>
  <p id="des">
    <b><u>Description:</u></b> {{product().description}}
  </p>
  <img [src]="product().image" alt="" />
  <p><strong>Price: {{product().price}} </strong></p>
  <p><b>Rating: </b>{{product().rating.rate}}</p>
</div>
<button (click)="data()">Click to fetch</button>
<h1>Observable</h1>
<div>{{observable()}}</div>
<button (click)="sub()">Click To Sub</button
><button (click)="unsub()">Click To unSub</button>
<div class="container">
  <input type="text" #input />
  <button id="btnn" (click)="edit(input.value)">Click</button>
</div>
